---
type Props = {
    page: number;
    totalPages: number;
    prevLink: string | undefined;
    nextLink: string | undefined;
};

import ToggleableAnchor from "./ToggleableAnchor.astro";

const { VITE_SITE_PATH } = import.meta.env;

const { page, totalPages, prevLink, nextLink } = Astro.props;

---

<div class="pt-6 flex justify-between items-center">
    <p class="text-sm text-gray-800 font-semibold">
        Page {page} / {totalPages}
    </p>
    <div class="inline-flex">
        <ToggleableAnchor text="Prev" href={prevLink && `${VITE_SITE_PATH}/${prevLink.toString()}`} />
        <ToggleableAnchor text="Next" href={nextLink && `${VITE_SITE_PATH}/${nextLink.toString()}`} />
    </div>
</div>
