---
type Props = {
    title: string;
    summary: string;
    date: string;
    readingTime: string;
    isLast: boolean;
    url: URL | string;
    category: Array<string>;
};

import { getTitleTransName } from '../utils/shared'

const { VITE_SITE } = import.meta.env
const {
    title,
    summary,
    date,
    readingTime,
    isLast,
    url,
    category = [],
} = Astro.props;

let formattedDate = null;
if (date) {
    const [_, month, day, year] = new Date(date).toDateString().split(" ");
    formattedDate = `${month} ${Number(day)}, ${year}`;
}
---

<article>
    <a href={`${VITE_SITE}url`}>
        <h2 class="post-title pb-2" transition:name={getTitleTransName(title)} >
            {title}
        </h2>
    </a>
    <div class="flex gap-2 flex-wrap py-2">
        {
            category.map((x: string) => (
                <a
                    rel="prefetch"
                    class="text-sm font-semibold text-gray-700 whitespace-nowrap"
                    href={`${VITE_SITE}/category/${x.toLowerCase()}`}
                >
                    <p class="pr-2 py-1">#{x}</p>
                </a>
            ))
        }
    </div>
    <div class="flex text-md text-gray-500 mb-2">
        <p class="pr-2">{formattedDate}</p>
        <p class="pr-2">~</p>
        <p>{readingTime}</p>
    </div>
    <div class="text">{summary}</div>
    {!isLast && <hr class="border-transparent mt-6 mb-6" />}
</article>
