---
import "../css/styles.scss";
import Navbar from "../components/Navbar.astro";

type Props = {
    isRoot: boolean | undefined;
    title: string;
    description?: string | undefined;
};

const { title, description, isRoot } = Astro.props;
const { VITE_SITE_DESC: fallbackDesc } = import.meta.env;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <meta name="generator" content={`${Astro.generator} and me`} />
        <meta name="description" content={description || fallbackDesc} />
        <title>{title}</title>
        {isRoot && <link rel="manifest" href="/manifest.json" />}
    </head>
    <body>
        <Navbar />
        <div class="main-wrapper">
            <slot />
        </div>
    </body>
    <script defer={true}>
        import { menuStore, MenuStoreStates } from "../store/menuStore.ts";

        const mainWrapper = document.querySelector(
            ".main-wrapper"
        ) as HTMLElement;
        const menu = document.querySelector(".menu") as HTMLElement;
        const menuWidth = menu.getBoundingClientRect().width;
        menuStore.subscribe((v: MenuStoreStates) => {
            mainWrapper.style.paddingRight =
                v === "open" ? `${menuWidth}px` : "initial";
        });

        setTimeout(() => {
            mainWrapper.style.transition = ".2s all";
        }, 100);
    </script>
    <script async={true}>
        import "@fontsource/kiwi-maru";
    </script>
    <script
        type="text/partytown"
        async
        src="https://www.googletagmanager.com/gtag/js?id=G-Y1197D77VN"
    ></script>
    <script type="text/partytown">
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "G-Y1197D77VN");
    </script>
</html>
